:root {
    --body-background-color: #F5F1E9;
    --footer-color: #327D85;
    --footer-font-family: 'Montserrat', sans-serif;

    --loading-msg-color: #FF6860;
    --loading-msg-font-family: 'Montserrat', sans-serif;
    --snowflake-color: #327D85;

    --jumbotron-background-color: #FF6860;
    --jumbotron-heading-font-family: 'Abril Fatface', cursive;
    --jumbotron-paragraph-font-family: 'Poppins', sans-serif;
    --jumbotron-paragraph-font-size: 1em;

    /*Styling for add song button*/
    --button-color: #addbad;
    --hover-button-color: #8ede8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Set to allow footer to stick to bottom without overlap over other elements */
html {
    height: 100%;
}

body {
    background: var(--body-background-color);
    /*Set to allow footer to stick to bottom without overlap over other elements */
    min-height: 100%;
    position: relative;
    padding-bottom: 8rem;
}

#footer {
    display: none;
    background: var(--footer-color);
    font-family: var(--footer-font-family);
    color: white;
    text-align: center;

    /*Allowing footer to stick to bottom without overlap over other elements */
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 8rem;

}

/*Centering loading message*/
#loading-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling loading message font color*/
#loading-msg {
    color: var(--loading-msg-color);
    text-align: center;
    font-family: var(--loading-msg-font-family);
}

/*Animating snowflakes*/
.fa-snowflake {
    animation: fall 10s linear forwards;
    position: absolute;
    top: -20px;
    color: var(--snowflake-color);
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}

/*Setting main section of html to display none, that way it does not show up on the loading page*/
#main-section {
    display: none;
}

/*Jumbo tron styling*/
#main-jumbotron {
    background: var(--jumbotron-background-color);
    color: white;
    margin: 0 1em; /*for margin all around the jumbo tron*/
}

#jumbotron-heading {
    font-family: var(--jumbotron-heading-font-family);
    font-size: 3em;
}

#jumbotron-paragraph {
    font-family: var(--jumbotron-paragraph-font-family);
    font-size: var(--jumbotron-paragraph-font-size);
    color: black;
    font-weight: bolder;
}

.the-card-container {
    margin: 1em;
}

/*changing color of links*/
a:link {
    color: #FF6860;
}

a:visited {
    color: black;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    /*Jumbo tron styling*/
    #main-jumbotron {
        background: var(--jumbotron-background-color);
        color: white;
    }

    #jumbotron-heading {
        font-size: 100px;
    }

    #jumbotron-paragraph {
        font-family: var(--jumbotron-paragraph-font-family);
        font-size: 25px;
    }

    #add-button-1 {
        display: block;
    }

    #add-button-2, #back-to-top {
        display: none;
    }
}